@import "extra.scss";

*{margin: 0; padding: 0;}
/*ID para todas las paginas*/
#body{
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    font-weight: 500;
}

#mainPadding{
    padding: 5px 5px 20px 8px;
}

/*COMIENZA MENU*/
.header{
    position: sticky;
    top: 0;
    height: 70px;
    width: auto;
    background-image: url(../fotos/fondoSolo.png);
    z-index: 9999;
    
    &__nav{
        height: 100%;
    }
        
    &__lista{
        display: flex;
        align-items: flex-end;
        height: 100%;
        font-size: large;
        padding-left: 0;
    }
    
    &__item{
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }

    &__link{
        color: rgb(61, 59, 59);
        text-decoration: none;
        transition: all 3s;

        &:hover{
            color: rgb(16, 104, 104);
            font-size: larger;  
        }

        &--logo{
            height: 70px;
            width: 70px;
        }
    }
}
/*TERMINA MENU*/

/*INDEX*/
#mainIndex{
    margin: 0; 
    padding: 0;
}

//Seccion Historia
.historia__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.904);
    color: whitesmoke; 

    .historia__div{
        background-image: url(../fotos/fondoGaleriaIndex.png);
        width: 100%;
        height: auto;
        background-size: cover;
        display: flex;
        justify-content: center;
        
        &--carousel{
            width: 680px;
            height: 400px;
        }
    }

    .historia__titulo{
        font-style: italic;
        font-size: xx-large;
        text-shadow: 1px 1px turquoise;
        color: $colorIndexTitulos;
    }

    .historia__parrafo{
        text-align: center;
        line-height: 30px;
        padding-left: 3px;
        display: flex;
        width: 800px;
        text-shadow: 1px 1px ghostwhite;
    }
}
//Seccion Corona
.corona__article{
    background-color: rgba(0, 0, 0, 0.904);
    color: whitesmoke;

    .corona__titulo{
        text-align: center;
        border-top: solid rgba(143, 142, 142, 0.788) 2px;
        font-style: italic;
        font-size: xx-large;
        text-shadow: 1px 1px turquoise;
        color: $colorIndexTitulos;
    }

    .corona__parrafo{
        text-align: center;
        line-height: 30px;
        padding-left: 3px;
        padding-bottom: 5px;
       
        &--margen{
            margin: 0;
            padding-bottom: 10px;
            text-align: center;
        }
    }

    .corona__lista{
        background-color: rgba(248, 248, 255, 0.322);
        border-radius: 20px;
        
        .corona__items{
            line-height: 30px;
            list-style-type: square;
            margin-left: 25px;
            align-items: center;
            text-shadow: 1px 1px darkslategrey;
        }
    }
}
//Seccion Origen

.origen__article{
    background-color: rgba(0, 0, 0, 0.904);
    color: whitesmoke; 
    display: flex;  
    flex-direction: column;   
    align-items: center;

    .origen__titulo{
        border-top: solid rgba(143, 142, 142, 0.788) 2px;
        font-style: italic;
        font-size: xx-large;
        text-shadow: 1px 1px turquoise;
        color: $colorIndexTitulos;
        text-align: center;
        width: 100%;
    }

    .origen__parrafo{
        line-height: 30px;
        padding-left: 3px;
        width: 85%;
        text-align: center;
        text-shadow: 1px 1px ghostwhite;
    }

    .origen__img{
        width: 70%;
        height: 600px;
        padding-bottom: 20px;
    }
}
    
/*QUIENES SOMOS*/

#mainSomos{
    background-image: url(../fotos/fondoQuienes.jpeg);
}

.titulos__somos{
    .titulos__principal{
        color: rgb(3, 134, 97);
        text-align: center;    
        padding-top: 15px;
        font-size: xx-large;
        text-shadow: 1px 1px turquoise;
    }
}

.miriam__cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;

    .miriam__titulos{
        @include titulosCostados(left, 0 0 25px 10px)
    }

    .miriam__img{
        width: 470px; height: 370px;
    }

    .miriam__parrafo{
        line-height: 35px;
        padding-left: 3px;
        text-align: center;
        text-shadow: 2px 2px whitesmoke;
    }  
}

.fran__cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;

    .fran__titulos{
        @include titulosCostados(right, 0 10px 25px 0)
    }

    .fran__img{
        width: 470px; height: 300px; 
    }

    .fran__parrafos{
        line-height: 35px;
        padding-left: 3px;
        text-align: center;
        text-shadow: 2px 2px whitesmoke;
    }
}

.carina__cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;

    .carina__titulos{
        @include titulosCostados(left, 0 0 25px 10px);
    }

    .carina__img{
        width: 480px; height: 420px;
    }

    .carina__parrafos{
        line-height: 35px;
        padding-left: 3px;
        text-align: center;
        padding-bottom: 20px;
        text-shadow: 2px 2px whitesmoke;
    }
}

/*HORARIOS Y SERVICIOS*/ 

#mainHoraServ{
    padding: 5px 5px 20px 8px;
    background-image: url(../fotos/fondoHora.jpg);
    background-size: cover;
}

.titulo__horaserv{
    .titulo__horarios{
        @extend .titulosConFondo;
    }
}

.horarios__principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas: "reloj enfermera"
                          "hora link";
    justify-items: center;
    padding-top: 25px;
    align-items: center;

    .horarios__horaimg{
        width: 100px;
        height: 100px;
        grid-area: reloj; 
    }

    .horarios__parrafo{
        grid-area: hora;
        font-size: x-large;
        text-align: center;
        width: 80%;
    }

    .horarios__turnoimg{
        grid-area: enfermera;
        width: 100px;
        height: 100px;
    }

    .horarios__link{
        grid-area: link;
        font-size: x-large;
        text-decoration: none;
        color: black;
        text-shadow: 1px 1px whitesmoke;
        width: 80%;
    }
}

.servicios__titulos{
    .servicios__titulo{
        @extend .titulosConFondo;
    }

    .servicios__atencion{
        @include titulosCostados(left, 0 0 25px 10px)
    }
}

.sociales__contenedor{
    
    .sociales__parrafo{
        line-height: 30px;
        padding-left: 3px;
    }

    .sociales__lista{
        display: inline-block;
        position: relative; /*left en movile*/        
        padding-bottom: 15px;


        .sociales__items{
            line-height: 30px;
            list-style-type: square;
            margin-left: 25px;
        }
    }

}

.entregas__contenedor{
    
    .entregas__titulo{
        @include titulosCostados(right, 0 10px 25px 0);
    }

    .entregas__parrafo{
        line-height: 30px;
        padding-left: 3px;
    }

    .entregas__fotos{
        display: flex;
        justify-content: space-evenly;

        .fotos__empresas{
            width: 30%;
            height: auto;
        }
    }
}
/*Termina Horarios y servicios*/

/*PRODUCTOS NATURALES*/ 

.titulos__origen{
    height: 250px;
    width: 100%;
    padding-top: 100px;
    background-image: url(../fotos/teHebras.jpg);

    .titulos__oculto{
        display: none;
    }

    .titulos__te{
        @extend .titulosConFondo
    }
}

.preparacion__te{
    border: gray 2px solid;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;

    .preparacion__metodo{
        font-size: 20px;
        color: indigo;
    }

    .preparacion__parrafo{
        line-height: 30px;
        padding-left: 3px;
    }
}
/*Comienzan tinturas*/
.madre__contenedor{
    .madre__titulo{
        @extend .titulosConFondo;
    }
}

.tintura__contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas: "echinacea tilia"
                          "uncaria valeriana";

    .tintura__echinacea{
        @include fotosTintura(echinacea);
    }

    .tintura__tilia{
        @include fotosTintura(tilia);
    }

    .tintura__uncaria{
        @include fotosTintura(uncaria);
    }

    .tintura__valeriana{
        @include fotosTintura(valeriana);
    }
}


/*Termina Productos Naturales*/

/*CONSEJOS DE SALUD*/ 

#mainSalud{
    padding: 5px 5px 20px 8px;
    background-image: url(../fotos/saludFondo.jpg);
    background-size: cover
}

.titulos__contenedor{

    .titulos__consejos{
        @extend .titulosConFondo;
    }

    .titulos__mantenimiento{
        @include titulosCostados(left, 0 0 25px 10px)
    }
}

.medicamentos__contenedor{

    .medicamentos__titulo{
        @include titulosCostados(right, 0 10px 25px 0)
    }

    .medicamentos__lista{
        background-color: rgba(248, 248, 255, 0.445);
        border-radius: 20px;
        font-weight: 600;

        .medicamentos__item{
            line-height: 30px;
            list-style-type: square;
            margin-left: 25px;
        }
    }
}
/*Termina Consejos salud*/ 

/*CONTACTO*/ 

.contacto__fondo{
    background-image: url(../fotos/telefono.png);
    background-size: cover;

    .contacto__titulo{
        color: snow;
        text-align: center;    
        padding-top: 15px;
        font-size: xx-large;
        text-shadow: 2px 2px black;
    }

    .contacto__formulario{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;

        .formulario__letra{
            font-size: larger;
            font-weight: 600;
            color: rgb(2, 87, 87);
            background-color: rgba(248, 248, 255, 0.527);
            border-radius: 20px;
            padding: 6px 6px 6px 6px;
        }
    }

    .contacto__whatsapp{
        font-size: x-large;
        width: 600px;
        transition: all 3s;
        font-weight: 600;
        text-align: center;
        background-color: rgba(248, 248, 255, 0.527);
        border-radius: 20px;
    
        .contacto__parrafo{
            line-height: 30px;
            padding-left: 3px;
        }
    }
    
    .contacto__mapa{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: x-large;
    
        .contacto__direccion{
            animation-name: direccion;
            animation-duration: 4s;
            animation-iteration-count: 1;
            font-weight: 500;
            font-size: x-large;
        }  

        @keyframes direccion{
            from{
                transform: translate(0px, 20px);
            }
        
            to{
                color: darkslateblue;
            } 
        }
    }
}

/*COMIENZA FOOTER*/
.footer{
    background-image: $colorGradiente;
    padding-left: 10px;
    height: 180px;
    display: flex;
    align-items: center;
    
    .footer__div{
        width: 26% ;

        .div__parrafo{
            color: rgb(59, 59, 59);
            font-size: 18px;
            line-height: 25px;
        }

        .div__img{
            width: 40px;
            height: 40px;
        }
    }  
    
    .footer__redes{
        display: flex;
        flex-direction: column;

        .redes__img{
            width: 40px;
            height: 40px;
            transition: all 3s;

            &:hover{
                width: 70px;
                height: 70px;
            }
        }
    }
}
/*TERMINA FOOTER*/

//COMIENZA MOVILE FIRST

/*Comienza extra small divices celulares*/
@media only screen and (max-width:600px){
    /*Menu*/
    .header{
        position: unset;
        height: 100px;
        width: auto;
        background-image: $colorGradiente;

        &__lista{
            display: flex;
            align-items: flex-end;
            height: 100%;
            font-size: medium;
        }

        .header__link--logo{
            height: 60px;
            width: 60px;
        }
    }
    /*Termina Menu*/
    
    /*INDEX*/
    .historia__article{
        .historia__div{
            &--carousel{
                width: 480px;
                height: 300px;
            }
        }
        .historia__parrafo{
            width: 90%;
        }
    }
    //Foto Origen
    .origen__article{
       
        .origen__img{
            width: 70%;
            height: 60%;
            padding-bottom: 20px; 
        }
    }
    /*termina Index*/

    /*QUIENES SOMOS*/

    .miriam__cuerpo{
        .miriam__img{
            width: 90%; height: 85%;
        }
    }

    .fran__cuerpo{
        .fran__img{
            width: 90%; height: 85%;
        }
    }

    .carina__cuerpo{
        .carina__img{
            width: 90%; height: 85%;
        }
    }
    /*Termina Quienes Somos*/

    /*HORARIOS Y SERVICIOS*/

    .horarios__principal{
        .horarios__parrafo{
            font-size: medium;
            font-weight: 900;
        }

        .horarios__link{
            font-size: large;
            font-weight: 800;
        }
    }

    .sociales__contenedor{
        .sociales__lista{
            left: 100px;
        }
    }

    /*termina Horarios y servicios*/

    /*PRODUCTOS NATURALES*/ 

    .galeria__contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px repeat(3, 350px) 100px repeat(8, 350px) 100px repeat(3, 350px);
        grid-template-areas: "antigripal"
                             "teVerde"
                             " menta"
                             "moringa"
                             "digestivo"
                             "anis"
                             "cedron"
                             "incayuyo"
                             "manzanilla"
                             "marcela"
                             "poleo"
                             "burro"
                             "pollo"
                             "diuretico"
                             "caballo"
                             "olivo"
                             "carnicera";
    
        .galeria__antigripal{
            @include titulosProdNat(left,antigripal ,0 0 35px 10px );
        }
    
        .galeria__rosa{
            @include fotosMax600(teVerde);
        }
    
        .galeria__menta{
            @include fotosMax600(menta);
        }
    
        .galeria__moringa{
            @include fotosMax600(moringa);
        }
    
        .galeria__relajante{
            @include titulosProdNat(left, digestivo,0 0 35px 10px );
        }
    
        .galeria__anis{
            @include fotosMax600(anis);
        }
    
        .galeria__cedron{
            @include fotosMax600(cedron);
        }
    
        .galeria__incayuyo{
            @include fotosMax600(incayuyo);
        }
    
        .galeria__manzanilla{
            @include fotosMax600(manzanilla);
        }
    
        .galeria__marcela{
            @include fotosMax600(marcela);
        }
    
        .galeria__poleo{
            @include fotosMax600(poleo);
        }
    
        .galeria__burro{
            @include fotosMax600(burro);
        }
    
        .galeria__pollo{
            @include fotosMax600(pollo);
        }
    
        .galeria__diuretico{
            @include titulosProdNat(left, diuretico, 0 0 35px 10px)
        }
    
        .galeria__caballo{
            @include fotosMax600(caballo);
        }
    
        .galeria__olivo{
            @include fotosMax600(olivo);
        }
    
        .galeria__carnicera{
            @include fotosMax600(carnicera);
        }       
    }

    .tintura__contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 350px);
        grid-template-areas: "echinacea"
                              "tilia"
                             "uncaria"
                             "valeriana";
           
        .tintura__echinacea{
            @include fotosMax600(echinacea);
        }
    
        .tintura__tilia{
            @include fotosMax600(tilia);
        }
    
        .tintura__uncaria{
            @include fotosMax600(uncaria);
        }
    
        .tintura__valeriana{
            @include fotosMax600(valeriana);
        }
    }

    /*CONTACTO*/

    .contacto__fondo{
        background-image: url(../fotos/telefono.png);

        
        .contacto__formulario{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 30px;
        }

        .contacto__whatsapp{
            font-size: x-large;
            width: 550px;
            background-image: linear-gradient(to bottom, rgba(89, 89, 238, 0.452), rgba(119, 107, 107, 0.521));
        }

        .contacto__mapa{
            display: flex;
            flex-direction: column;
            height: 600px;
            justify-content: space-evenly;
            align-items: center;
            font-size: x-large;

            .contacto__maps{
                height: 400px;
                width: 500px;
            }
        }
    }
   
    /*FOOTER*/
    .footer{
        height: 160px;
        background-image: $colorGradiente;

        .footer__div{
            
            .div__img{
                width: 25px;
                height: 25px;
            }
        }        
    }
    /*Termina Footer*/
}
 
/*Termina extra small divices celulares*/

/*Comienza tablet*/
@media only screen and (min-width:600px){
    
    .header{
        position: unset;
        height: 100px;
        width: auto;
        background-image: $colorGradiente;

        .header__link--logo{
            height: 60px;
            width: 60px;
        }
    }

    /*INDEX*/

    .historia__article{
        .historia__parrafo{
            width: 600px;
        }
    }
    
    .origen__article{
    
        .origen__img{
            width: 70%;
            height: 400px;
            padding-bottom: 20px; 
        }
    }
    /*Termina Index*/

    /*QUIENES SOMOS*/

    .miriam__cuerpo{
        .miriam__img{
            width: 470px; height: 370px;
        }
    }

    .fran__cuerpo{
        .fran__img{
            width: 470px; height: 300px;
        }
    }

    .carina__cuerpo{
        .carina__img{
            width: 470px; height: 420px;
        }
    }
    /*Termina Quienes Somos*/

        /*HORARIOS Y SERVICIOS*/

        .sociales__contenedor{
            .sociales__lista{
                left: 200px;
            }
        }
    
        /*termina Horarios y servicios*/

    /*PRODUCTOS NATURALES*/ 

    .galeria__contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 400px 400px 100px 400px 400px 400px 400px 100px 400px 400px;
        grid-template-areas: "antigripal antigripal"
                             "teVerde menta"
                             "moringa ."
                             "digestivo digestivo"
                             "anis cedron "
                             "incayuyo manzanilla"
                             "marcela poleo"
                             "burro pollo "
                             "diuretico diuretico"
                             "caballo olivo"
                             "carnicera .";
    
        .galeria__antigripal{
            @include titulosProdNat(left,antigripal ,0 0 35px 10px );
        }
    
        .galeria__rosa{
            @include fotosGaleria(teVerde);
        }
    
        .galeria__menta{
            @include fotosGaleria(menta);
        }
    
        .galeria__moringa{
            @include fotosGaleria(moringa);
        }
    
        .galeria__relajante{
            @include titulosProdNat(right, digestivo,0 10px 35px 0 );
        }
    
        .galeria__anis{
            @include fotosGaleria(anis);
        }
    
        .galeria__cedron{
            @include fotosGaleria(cedron);
        }
    
        .galeria__incayuyo{
            @include fotosGaleria(incayuyo);
        }
    
        .galeria__manzanilla{
            @include fotosGaleria(manzanilla);
        }
    
        .galeria__marcela{
            @include fotosGaleria(marcela);
        }
    
        .galeria__poleo{
            @include fotosGaleria(poleo);
        }
    
        .galeria__burro{
            @include fotosGaleria(burro);
        }
    
        .galeria__pollo{
            @include fotosGaleria(pollo);
        }
    
        .galeria__diuretico{
            @include titulosProdNat(left, diuretico, 0 0 35px 10px)
        }
    
        .galeria__caballo{
            @include fotosGaleria(caballo);
        }
    
        .galeria__olivo{
            @include fotosGaleria(olivo);
        }
    
        .galeria__carnicera{
            @include fotosGaleria(carnicera);
        }
    }

}

/*Termina tablet*/

/*Comienza Pantallas 992px*/
@media only screen and (min-width:992px){

    .header{
        position: sticky;
        top: 0;
        height: 70px;
        width: auto;
        background-image: url(../fotos/fondoSolo.png);

        .header__link--logo{
            height: 55px;
            width: 55px;
        }
    }

    /*INDEX*/

    .historia__article{
        .historia__parrafo{
            width: 800px;
        }
    }

    .origen__article{

        .origen__img{
            width: 60%;
            height: 600px;
            padding-bottom: 20px; 
        }
    }
    /*termina Index*/
    
    /*QUIENES SOMOS*/

    .miriam__cuerpo{
        .miriam__img{
            width: 470px; height: 370px;
        }

        .miriam__parrafo{
            width: 80%;
        }
    }

    .fran__cuerpo{
        .fran__img{
            width: 470px; height: 300px;
        }

        .fran__parrafos{
            width: 80%;
        }
    }

    .carina__cuerpo{
        .carina__img{
            width: 480px; height: 420px;
        }

        .carina__parrafos{
            width: 80%;
        }
    }
    /*Termina Quienes Somos*/

        /*HORARIOS Y SERVICIOS*/

        .sociales__contenedor{
            .sociales__lista{
                left: 430px;
            }
        }
    
        /*termina Horarios y servicios*/

    /*PRODUCTOS NATURALES*/

    .galeria__contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 400px 100px 400px 400px 400px 100px 400px;
        grid-template-areas: "antigripal antigripal antigripal"
                             " teVerde menta moringa"
                             "digestivo digestivo digestivo"
                             "anis cedron incayuyo"
                             "manzanilla marcela poleo"
                             "burro pollo ."
                             "diuretico diuretico diuretico"
                             "caballo olivo carnicera";
    
        .galeria__antigripal{
            @include titulosProdNat(left,antigripal ,0 0 35px 10px );
        }
    
        .galeria__rosa{
            @include fotosGaleria(teVerde);
        }
    
        .galeria__menta{
            @include fotosGaleria(menta);
        }
    
        .galeria__moringa{
            @include fotosGaleria(moringa);
        }
    
        .galeria__relajante{
            @include titulosProdNat(right, digestivo,0 10px 35px 0 );
        }
    
        .galeria__anis{
            @include fotosGaleria(anis);
        }
    
        .galeria__cedron{
            @include fotosGaleria(cedron);
        }
    
        .galeria__incayuyo{
            @include fotosGaleria(incayuyo);
        }
    
        .galeria__manzanilla{
            @include fotosGaleria(manzanilla);
        }
    
        .galeria__marcela{
            @include fotosGaleria(marcela);
        }
    
        .galeria__poleo{
            @include fotosGaleria(poleo);
        }
    
        .galeria__burro{
            @include fotosGaleria(burro);
        }
    
        .galeria__pollo{
            @include fotosGaleria(pollo);
        }
    
        .galeria__diuretico{
            @include titulosProdNat(left, diuretico, 0 0 35px 10px)
        }
    
        .galeria__caballo{
            @include fotosGaleria(caballo);
        }
    
        .galeria__olivo{
            @include fotosGaleria(olivo);
        }
    
        .galeria__carnicera{
            @include fotosGaleria(carnicera);
        }
    }
}
/*Termina Pantallas 992px*/
    
//Termina MOVILE FIRST
